<mat-card>
  <mat-card-header>
    <mat-card-title> {{Constants.Header}}</mat-card-title>
  </mat-card-header>
  <form *ngIf="node !== null; else selectNodeBlock" #form="ngForm" style="margin: 16px;" (submit)="handleSave()">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" name="id" [ngModel]="node.getId()" placeholder="Id" disabled="true">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="label" [ngModel]="node.getLabel()" (ngModelChange)="node.setLabel($event)"
          placeholder="Name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="power" [ngModel]="node.getPower()" (ngModelChange)="node.setPower($event)"
          placeholder="power" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="form.invalid" color="primary">Save</button>
      <button mat-button (click)="handleCancel($event)">Cancel</button>
    </mat-card-actions>
  </form>
  <ng-template #selectNodeBlock>
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>Please select a node.</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </ng-template>
</mat-card>